<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Information</strong><br>
  Customer ID: <%= @customer.id %><br>
  <%= @customer.first_name %> <%= @customer.last_name %><br>
  <%= @customer.company_name %><br>
  <%= @customer.address1 %><br>
  <%= @customer.address2 %><br>
  <%= @customer.city %>, <%= @customer.state %>  <%= @customer.zip %><br>
  Email: <%= @customer.email %><br>
  Office Phone: <%= number_to_phone(@customer.office_phone) %> Ext: <%= @customer.office_extension %><br>
  Cell Phone: <%= number_to_phone(@customer.cell_phone) %><br>
  Fax: <%= number_to_phone(@customer.fax_phone) %><br>
  Notes: <%= @customer.memo %><br>
</p>

<% @subscriptions.each do |subscription| %>
  <% if subscription.customer_id == @customer.id %>
    Subscription: <%= subscription.publication.name %> (Expires <%= subscription.expiration_date %>) <br>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
