
<%= form_for(subscription) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_select(:customer_id, Customer.all, :id, :last_name) %>
  </div>

  <div class="field">
    <%= f.collection_select(:publication_id, Publication.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :sign_up_date %>
    <%= f.date_select :sign_up_date %>
  </div>

  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.date_select :expiration_date %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
